body {
    background-color: #000000;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #fafffa;
}
.row{
    background-color: slategrey;
}
.head {
    text-align: center;
}